.a{
    float: left;
    display: inline;
    /* background-color: rgb(85, 198, 218); */
    /* width: 100%; */
}
.b{
    /* width: 100%; */
    float: right;
    background-color: rgb(168, 227, 238);
}
.bir{
    background-color: rgb(168, 227, 238);
    /* width: 800px; */
    height: 700px;

}
.buton{
    background-color: black;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 40px;
}
.emir{
    width: 1000px;
    height: 1000px;
    /* align-items: centerös; */
}
h5{
    text-align: center;
    /* background-color: red; */
    font-size: 40px;
    font-family:sans-serif;
}